<h3> Profile </h3>

<%= @user.username %>
<br/>
<%= image_tag gravatar_url(@user) %>
<br/>
Bio: <%= @user.bio %>
<br/>
Location: <%= @user.location %>
<br/>
Links Submitted: <%= @user.links.count %>
<br/>
Comments: <%= @user.comments.count %>
<br/>
Followers: <%= @user.followers.count  %>
<br/>
Following: <%= @user.followed_users.count  %>
<br/>
<% unless @user == current_user || current_user.nil? %>
  <% if @user.followed?(current_user) %>
    <%= form_for [@user, Relationship.new] do |f| %>
      <%= f.submit "Follow" %>
    <% end %>
  <% else %>
    <%= form_for [@user, current_user.follow_relationship_for(@user)], html: {method: :delete} do |f| %>
    <%= f.submit "Unfollow" %>
    <% end %>
  <% end %>
<% end %>
<br>

<strong> Top 5 Links Submitted: </strong><br>
<% Link.top_links(@user).all(:order => 'votes_count DESC').map do |link| %>
  <% if link.votes_count == 1 %>
    1 Like
  <% else %>
    <%= link.votes_count %> Likes
  <% end %>
  <a href="http://<%=link.address%>"> <%= link.title %> </a>
  <%= time_ago_in_words(link.created_at) %> ago)
  with
  <% if link.comments.count == 1 %>
    <a href="/links/<%=link.id%>"> 1 Comment </a>
  <% else %>
    <a href="/links/<%=link.id%>"> <%= link.comments.count %> Comments </a>
  <% end %> <br>
<% end %>
<br>
<br>

<strong> Top 5 Comments: </strong> <br>
<% Comment.top_comments(@user).all(:order => 'comment_votes_count DESC').map do |comment| %>
  <% if comment.comment_votes_count == 1 %>
    1 Like &nbsp
  <% else %>
    <%= comment.comment_votes_count %> Likes &nbsp
  <% end %>
  <a href="/links/<%=comment.link_id%>"> <%= comment.body %> </a>
  <%= time_ago_in_words(comment.created_at) %> ago
  <br>
<% end %>



