<h1> Cool Links for Gambling </h1>

<% @links.each do |link| %>
Likes: <%= link.votes_count %>
<a href="http://<%=link.address%>"> <%= link.title %> </a> (submitted by <%=link.user.username %>
<%= time_ago_in_words(link.created_at) %> ago)
with <a href="/links/<%=link.id%>"> <%= link.comments.count %> Comments </a>
<a <%= image_tag("thumb.jpg", size: "30") %>
<br/>
<% end %>



