<% @links.each do |link| %>
  <% if link.votable_by?(current_user) %>
    <%= form_for [link, Vote.new] do |f| %>
      <%= f.submit "Vote" %>
    <% end %>
  <% end %>

<div style="float: left; width: auto;">
<% if link.votes_count == 1 %>
1 Like
<% else %>
<%= link.votes_count %> Likes
<% end %>
</div>
<br/>
<a href="http://<%=link.address%>"> <%= link.title %> </a> (submitted by <%=link.user.username %>
<%= time_ago_in_words(link.created_at) %> ago)
with
<% if link.comments.count == 1 %>
<a href="/links/<%=link.id%>"> 1 Comment </a>
<% else %>
 <a href="/links/<%=link.id%>"> <%= link.comments.count %> Comments </a>
 <% end %>
<br/>
<br/>
<% end %>


