<div class="wrap">
<% @links.each do |link| %>
  <div class="link <%= cycle 'odd', 'even' %>" data-id="<%= link.id %>" id="link-<%= link.id %>">
  <div class="vote">
  <% if link.votable_by?(current_user) %>
    <%= form_for [link, Vote.new], remote: true do |f| %>
      <%= f.submit "Vote" %>
    <% end %>
  <% else %>
    <%= form_for [link, Vote.new], remote: true do |f| %>
      <%= f.submit "Vote", :disabled => true %>
    <% end %>
  <% end %>
  </div>

<div class="count">
<%= link.votes_count %>
</div>
<%= image_tag "thumb.svg", :class => "thumb", width: '25px', height: '25px' %>
<span class="name">
<a href="http://<%=link.address%>" target="_blank"> <%= link.title %> </a></span>
<span class="info">
 (submitted by <a href="/users/<%=link.user.username%>"> <%=link.user.username %> </a>
<%= time_ago_in_words(link.created_at) %> ago)
with
<% if link.comments.count == 1 %>
<a href="/links/<%=link.id%>"> 1 Comment </a>
<% else %>
 <a href="/links/<%=link.id%>"> <%= link.comments.count %> Comments </a>
 <% end %>
</span>
</div>
<% end %>

<%= paginate @links %>

</div>
