<h1> Submit a cool Gambling Link </h1>

<%= form_for @link, url: links_path do |f| %>
<%= f.label :title %>
<%= f.text_field :title, :required => true  %>
<br/>
<%= f.label :address %>
<%= f.text_field :address, :required => true  %>
<br/>
<%= f.submit %>
<% end %>
