<div class="link" data-id="<%= @link.id %>" id="link-<%= @link.id %>">
<div class="vote">
<%= form_for [@link, Vote.new], remote: true do |f| %>
  <% if @link.votable_by?(current_user) %>
      <%= f.submit "Vote" %>
  <% else %>
      <%= f.submit "Vote", :disabled => true %>
  <% end %>
<% end %>
  </div>

<div class="count">
<%= @link.votes_count %>
</div>
<%= image_tag "thumb.jpg", :class => "thumb", width: '25px', height: '25px' %>

<div class="info">
<div class="name"><a href="http://<%=@link.address%>"> <%= @link.title %> </a></div> (submitted by <a href="/users/<%=@link.user.username%>"> <%=@link.user.username %> </a>
<%= time_ago_in_words(@link.created_at) %> ago)
with
<% if @link.comments.count == 1 %>
1 comment
<% else %>
 <%= @link.comments.count %> Comments
 <% end %>
</div>
<br/>
</div>

<div class="comments">
<% @link.comments.all(:order => 'comment_votes_count DESC').each do |comment| %>
<div class="comment" data-id="<%= comment.id %>" id="comment-<%= comment.id %>">
<br/>
<div class="comment-vote">
<%= form_for [@link, comment, CommentVote.new], remote: true do |f| %>
  <% if comment.can_vote?(current_user) %>
    <%= f.submit "Vote" %>
  <% else %>
    <%= f.submit "Vote", :disabled => true %>
  <% end %>
<% end %>
</div>

<div class="comment-votes-count">
 <%= comment.comment_votes_count %>
</div>
<%= image_tag "thumb.jpg", :class => "thumb", width: '25px', height: '25px' %>
  <%= comment.body %>
 <% if comment.user_id == nil %>
  (by Anonymous
  <% else %>
  (by <a href="/users/<%=comment.user.username%>"> <%= comment.user.username %> </a>
  <% end %>
    <%= time_ago_in_words(comment.created_at) %> ago)
<% if current_user %>
<% if comment.user_id != current_user.id %>
<% else %>
<%= link_to "Delete", link_comment_path(comment.link, comment), :method => :delete %>
  <% end %>
<% end %>
  </div>
  <% end %>

<div class="comment_form">
<% if current_user %>
  <%= form_for [@link, Comment.new] do |f| %>
    <%= f.text_area :body, :required => true %>
    <br/>
    <%= f.submit "Comment"%>
  <% end %>
<% end %>
</div>
</div>
