<br/>
<% if current_user %>
<% if @link.has_voted?(current_user) == nil %>
<% else %>
  <% if @link.has_voted?(current_user) %>
  <% else %>
      <% if @link.user == current_user %>
      <% else %>
  <%= form_for [@link, Vote.new] do |f| %>
  <%= f.submit "Vote" %>
  <% end %>
  <% end %>
  <% end %>
<% end %>
<% end %>
<%= @link.votes_count %> Likes
<a href="http://<%=@link.address%>"> <%= @link.title %> </a> (submitted by <%=@link.user.username %>
<%= time_ago_in_words(@link.created_at) %> ago)
with
<% if @link.comments.count == 1 %>
1 comment
<% else %>
 <%= @link.comments.count %> Comments
 <% end %>
<a <%= image_tag("thumb.jpg", size: "30") %>
<br/>

<% @link.comments.each do |comment| %>
<br/>
  <%= comment.body %>
 <% if comment.user_id == nil %>
  (by Anonymous
  <% else %>
  (by <%= comment.user.username %>
  <% end %>
    <%= time_ago_in_words(comment.created_at) %> ago)
<% if current_user %>
<% if comment.user_id != current_user.id %>
<% else %>
<%= link_to "Delete", link_comment_path(comment.link, comment), :method => :delete %>
  <% end %>
<% end %>
  <br/>
  <% end %>

<br/>
<% if current_user %>
<%= form_for [@link, Comment.new] do |f| %>
<%= f.text_area :body, :required => true %>
<br/>
<%= f.submit "Comment"%>
<% end %>
<% end %>
