<br/>
<div class="link" data-id="<%= @link.id %>" id="link-<%= @link.id %>">
<% if @link.votable_by?(current_user) %>
  <%= form_for [@link, Vote.new], remote: true do |f| %>
    <%= f.submit "Vote" %>
  <% end %>
<% end %>

<strong>
<div class="count">
<% if @link.votes_count == 1 %>
  1 Like &nbsp
<% else %>
  <%= @link.votes_count %> Likes &nbsp
<% end %>
</div>
<a href="http://<%=@link.address%>"> <%= @link.title %> </a> (submitted by <a href="/users/<%=@link.user.username%>"> <%=@link.user.username %> </a>
<%= time_ago_in_words(@link.created_at) %> ago)
with
<% if @link.comments.count == 1 %>
1 comment
<% else %>
 <%= @link.comments.count %> Comments
 <% end %>
</strong>
<br/>

<% @link.comments.all(:order => 'comment_votes_count DESC').each do |comment| %>
<br/>
<% if comment.can_vote?(current_user) %>
  <%= form_for [@link, comment, CommentVote.new], remote: true do |f| %>
    <%= f.submit "Vote" %>
  <% end %>
<% end %>
&nbsp <%= comment.comment_votes_count %> Likes &nbsp
  <%= comment.body %>
 <% if comment.user_id == nil %>
  (by Anonymous
  <% else %>
  (by <a href="/users/<%=comment.user.username%>"> <%= comment.user.username %> </a>
  <% end %>
    <%= time_ago_in_words(comment.created_at) %> ago)
<% if current_user %>
<% if comment.user_id != current_user.id %>
<% else %>
<%= link_to "Delete", link_comment_path(comment.link, comment), :method => :delete %>
  <% end %>
<% end %>
  <br/>
  <% end %>

<br/>
<% if current_user %>
<%= form_for [@link, Comment.new] do |f| %>
<%= f.text_area :body, :required => true %>
<br/>
<%= f.submit "Comment"%>
<% end %>
<% end %>

</div>

