<div class="wrap">
<div class="link odd" data-id="<%= @link.id %>" id="link-<%= @link.id %>">
<div class="count">
  <%= @link.votes_count %>
</div>
<div class="vote">
  <% if @link.votable_by?(current_user) %>
    <%= form_for [@link, Vote.new], remote: true do |f| %>
      <%= image_submit_tag("greenthumb.png", :id => "green", :class => "thumb", width: '25px', height: '25px') %>
    <% end %>
  <% else %>
       <%= image_tag("thumb.png", :class => "thumb", width: '23px', height: '23px') %>
  <% end %>
  </div>

<span class="name">
<a href="http://<%=@link.address%>"> <%= @link.title %> </a></span>
<span class="info"> (submitted by <a href="/users/<%=@link.user.username%>"> <%=@link.user.username %> </a>
<%= time_ago_in_words(@link.created_at) %> ago)
with
<% if @link.comments.count == 1 %>
1 comment
<% else %>
 <%= @link.comments.count %> Comments
 <% end %>
</span>
</div>

<div class="comments">
<% @comments.all(:order => 'comment_votes_count DESC').each do |comment| %>
<div class="comment <%= cycle 'even', 'odd' %>" data-id="<%= comment.id %>" id="comment-<%= comment.id %>">
<div class="comment-votes-count">
  <%= comment.comment_votes_count %>
</div>
<div class="comment-vote">
<% if comment.can_vote?(current_user) %>
  <%= form_for [@link, comment, CommentVote.new], remote: true do |f| %>
    <%= image_submit_tag("greenthumb.png", :id => "green", :class => "thumb", width: '25px', height: '25px') %>
  <% end %>
<% else %>
  <%= image_tag("thumb.png", :class => "thumb", width: '23px', height: '23px') %>
<% end %>
</div>

  <span class="info">
  <%= comment.body %>
 <% if comment.user_id == nil %>
  (by Anonymous
  <% else %>
  (by <a href="/users/<%=comment.user.username%>"> <%= comment.user.username %> </a>
  <% end %>
    <%= time_ago_in_words(comment.created_at) %> ago)
<% if current_user %>
<% if comment.user_id != current_user.id %>
<% else %>
<%= link_to "Delete", link_comment_path(comment.link, comment), :method => :delete %>
  <% end %>
<% end %>
  </span>
  </div>
  <% end %>
<%= paginate @comments %>
</div>

<div class="comment_form">
<% if current_user %>
  <%= form_for [@link, Comment.new] do |f| %>
    <%= f.text_area :body, :required => true %>
    <br/>
    <%= f.submit "Comment"%>
  <% end %>
<% end %>
</div>


