<a href="http://<%=@link.address%>"> <%= @link.title %> </a> submitted by <%=@link.user.username %>
<%= time_ago_in_words(@link.created_at) %> ago
<br/>

<% @link.comments.each do |comment| %>
<br/>
  <%= comment.body %>
 <% if comment.user_id == nil %>
  (by Anonymous
  <% else %>
  (by <%= comment.user.username %>
  <% end %>
    <%= time_ago_in_words(comment.created_at) %> ago)
<% if comment.user_id != current_user.id %>
<% else %>

  <%= link_to "Delete", comment, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
  <br/>
  <% end %>


<% if current_user %>
<%= form_for @link.comments.build do |f| %>
<%= f.text_field :body, :required => true %>
<%= f.hidden_field :link_id, value: @link.id %>
<br/>
<%= f.submit %>
<% end %>
<% end %>
