<!DOCTYPE html>
<html>
<head>
  <title>CoolLinks</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<nav>
<div class="container">
<%= image_tag "title.png", :class => "logo", height: '100%', width: '100%' %>
<% if current_user %>
<span class="greeting">Hi, <%= current_user.username %> </span>
<span class="nav-links"><%= link_to "Home", "/links" %> |
<%= link_to_modal "Submit a Link", "#submit-link" %> |
<%= link_to "Edit Profile", edit_user_registration_path %> |
<%= link_to "Sign Out", destroy_user_session_path %></span>
<% else %>
<span class="greeting">
<%= link_to "Sign In", new_user_session_path %> |
<%= link_to "Sign Up", new_user_registration_path %> |
<%= link_to "Home", "/links" %> </div>
<% end %>

</nav>
</div>


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

<div id="submit-link" style="display: none; ">
  <p>
    <h4> Submit a Link! </h4>
    <%= form_for @link, :method => :new, url: links_path do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, :required => true, value: ''  %>
    <br/>
    <%= f.label :address %>
    <%= f.text_field :address, :required => true, value: ''  %>
    <br/>
    <%= f.submit "Add a Link" %>
    <% end %>
  </p>
</div>

</body>
</html>
