<!DOCTYPE html>
<html>
<head>
  <title>Gamblinks</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<nav>
<div class="container">
<a href="/"> <%= image_tag "title.png", :class => "logo", height: '100%', width: '100%' %> </a>
<% if current_user %>
<span class="greeting">Hi, <a href="/users/<%= current_user.username %>"> <%= current_user.username %> </a></span>
<span class="nav-links"><%= link_to "Home", "/links" %> |
<%= link_to_modal "Submit a Link", "#submit-link" %> |
<%= link_to "Edit Profile", edit_user_registration_path %> |
<%= link_to "Sign Out", destroy_user_session_path %></span>
<% else %>
<span class="greeting">
<%= link_to "Home", "/links" %> |
<%= link_to "Sign In", new_user_session_path %> |
<%= link_to "Sign Up", new_user_registration_path %>
 </div>
<% end %>

</nav>
</div>

<% if flash[:alert] %>
  <div class="alert">
    <%= alert %>
  </div>
<% end %>

<% if flash[:notice] %>
  <div class="notice">
    <%= notice %>
  </div>
<% end %>


<%= yield %>

<div id="submit-link" style="display: none; ">
  <p>
    <h4> Submit a Link! </h4>
    <%= form_for @link, :method => :new, url: links_path do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, :required => true, value: ''  %>
    <br/>
    <%= f.label :address %>
    <%= f.text_field :address, :required => true, value: ''  %>
    <br/>
    <%= f.submit "Add a Link" %>
    <% end %>
  </p>
</div>

</body>
</html>
